/* @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* font-family: 'Lato', sans-serif; */
/* 
h1 {
  cursor: default;
  color: black;
  font-size: 70px;
  font-family: "Lato", sans-serif;
  background-color: rgb(245, 143, 83);
} */
/* 
nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(245, 143, 83);
  font-size: 70px;
} */ */
